k4aDotnet/Plugins/cublas64_11.dll
k4aDotnet/Plugins/cublas64_11.dll.meta
k4aDotnet/Plugins/cublasLt64_11.dll
k4aDotnet/Plugins/cublasLt64_11.dll.meta
k4aDotnet/Plugins/cudart64_110.dll
k4aDotnet/Plugins/cudart64_110.dll.meta
k4aDotnet/Plugins/cudnn_cnn_infer64_8.dll
k4aDotnet/Plugins/cudnn_cnn_infer64_8.dll.meta
k4aDotnet/Plugins/cudnn_ops_infer64_8.dll
k4aDotnet/Plugins/cudnn_ops_infer64_8.dll.meta
k4aDotnet/Plugins/cudnn64_8.dll
k4aDotnet/Plugins/cudnn64_8.dll.meta
k4aDotnet/Plugins/cufft64_10.dll
k4aDotnet/Plugins/cufft64_10.dll.meta
k4aDotnet/Plugins/dnn_model_2_0_lite_op11.onnx
k4aDotnet/Plugins/dnn_model_2_0_lite_op11.onnx.meta
k4aDotnet/Plugins/dnn_model_2_0_op11.onnx
k4aDotnet/Plugins/dnn_model_2_0_op11.onnx.meta
k4aDotnet/Plugins/onnxruntime.dll
k4aDotnet/Plugins/onnxruntime.dll.meta
